<%- include('./partials/header.ejs',{title:"Companies"}) %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/companies">
                        Companies <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/alumniAdvice">
                        Alumni Advice
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/companies">
                        Contact Us <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="navbar-brand" href="/logout">
                    LogOut <i class="fa-solid fa-door-open "></i>
                </a>

            </span>
        </div>

    </nav>

    <div class="row">
        <% for(let comp of company){%>
            <div class="col-lg-4">
                <div class="thumbnail">
                    <img class="img border" src="uploads/<%=comp.companyImage %>" class="card-img-top image">

                </div>
                <a class='href-text' href="/companyInfo/<%=comp.companyName %>" class="">
                    <%=comp.companyName %>
                </a>
            </div>
            <% }%>

    </div>


    <%- include('./partials/footer.ejs')%>