<%- include('./partials/header.ejs',{title:"Student Registration"}) %>
    <div class="row mt-5 pt-5">
        <div class="col-md-3 m-auto">
            <div class="card card-body text-center" )>
                <%- include('./partials/messages.ejs') %>
                    <h1><i class="fa-solid fa-user pb-3"></i></h1>
                    <p class="h5 pb-3">Student Registration</p>
                    <form action="/register" class="form-group" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentName" placeholder="Enter Student Name"
                                name="studentName" value="<%= typeof studentName !== 'undefined' ? studentName : '' %>">

                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="studentEmail" placeholder="Enter Student Email"
                                name="studentEmail"
                                value="<%= typeof studentEmail !== 'undefined' ? studentEmail : '' %>">
                        </div>
                        <div class="form-group">
                            <select id="inputState" class="form-control" name="studentBranch"
                                value="<%= typeof studentBranch !== 'undefined' ? studentBranch : '' %>">
                                <option selected>Choose Branch...</option>
                                <option value="CS">Computer Science (CS)</option>
                                <option value="CH">Chemical (CH)</option>
                                <option value="CV">Civil (CV)</option>
                                <option value="EE">Electrical and Electronics (EE)</option>
                                <option value="EC">Electronics and Communication (EC)</option>
                                <option value="IT">Information Technology (IT)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="studentPassword"
                                placeholder="Enter Password" name="studentPassword"
                                value="<%= typeof studentPassword !== 'undefined' ? studentPassword : '' %>">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="studentConfPass"
                                placeholder="Confirm Password" name="studentConfPass"
                                value="<%= typeof studentConfPass !== 'undefined' ? studentConfPass : '' %>">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">Register</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>